<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="mobile.css" rel="stylesheet" />
		<link rel="stylesheet" href="/{{ dash_asset_dirname }}/font-awesome-{{ dash_font_awesome_version }}/css/all.min.css">
    <title>{{ dash_companyname }}'s Dashboard</title>
</head>
  <body>
    <div id="logo_div">
       <a href="{{ dash_website_link}}"><img src="{{ dash_asset_dirname }}/{{ dash_logo }}" alt="Disroot Logo" id="logo"/></a>
    </div>
    <div class="grid-container">
      {% for item in dash_services %}
        {% if item.deploy == 'true' %}
      <div class="grid-item">
        <a class="link" href="{{ item.link }}" target=_blank>
          <div id="link-to-{{ item.name }}" class="img-link">
            {% if dash_icons_or_fontawesome == 'fontawesome' %}
            <i class="fa {{ item.icon }} fa-5x" aria-hidden="true"></i>
            {% endif %}
            {% if dash_icons_or_fontawesome == 'icons' %}
            <img src="{{ dash_asset_dirname }}/{{ item.icon_png }}" alt="{{ item.name }}">
            {% endif %}
            <p class="link-text"> {{ item.caption }} </p>
          </div>
        </a>
      </div>
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>
