body {
  background-color: #50162D;
  background-image: url("{{ dash_style_bgimage }}");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  justify-content: center;
}

.grid-item {
  padding: 5% 0;
  font-size: 1em;
  text-align: center;
  /*background-color: #ffffff14;*/
}

#logo_div {
	display: flex;
	justify-content: center;
  padding-bottom: 1em;
}

#logo {
 height: 50px;
 padding-top: 0.5em;
 filter: invert(100%) sepia(95%) saturate(19%) hue-rotate(338deg) brightness(105%) contrast(104%) drop-shadow(1px 1px 3px #000) ;
}

#logo:hover {
  filter: invert(100%) sepia(95%) saturate(19%) hue-rotate(338deg) brightness(105%) contrast(104%) drop-shadow(1px 1px 2px #fff);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.link i {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #555;
}

.link img {
 width: 30%;
 height: auto;
 filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
  -webkit-filter: drop-shadow(1px 1px 0 white)
        drop-shadow(-1px 1px 0 white)
        drop-shadow(1px -1px 0 white)
        drop-shadow(-1px -1px 0 white);
}

.link:hover img {
 width: 28%;
 -webkit-transition: all 0.2s ease-out;
 -moz-transition: all 0.2s ease-out;
 -o-transition: all 0.2s ease-out;
 transition: all 0.2s ease-out;
}

.link {
    color: #fff;
    font-family: "Source-Sans-Pro",sans-serif;
    font-size: 0.7em;
    text-decoration:none;
    font-weight: 600;
}

.link:hover {
font-size: 0.65em;
filter: brightness(150%);
color: #3c3b50;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}

.link-text {
    padding: 0px;
    position: relative;
}
